/* Google Font link  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Common Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul > li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
/* Common Css */

.font-inter{
    font-family: "Inter", sans-serif;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}
